*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/
*.npz
*.pkl
*.gif

# examples
examples_gan/
dat/
data/
figs/
#models
learned_models/
pretrained_models/

# For PyCharm users
.idea/

# stdout
gpu_out/
outtest1.log
errortest1.log
*.gz